
<div class="border-bottom row" style='margin-bottom:16px; padding-bottom:4px;'>
  <div class='col-9'>
    <h3 class='text-primary' margin-bottom:4px;>
      {{ cource['title'] }}
    </h3> 
      <p><b>Cost for 6 months</b>: {{ cource['Cost for 6months'] }}</p>
      <p><b>Cost for 1 year</b>: {{ cource['Cost for 1yr'] }}</p>
  </div>
  <div class='col-3'>
    <a href="mailto:dzigsams@gmail.com?subject=Application%20for%20the%20study%20of%20{{ cource['title'] }}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20age%3A%20%3Cyour%20age%3E%0D%0A%0D%0AMy%20email%3A%20%3Cyour%20email%3E%0D%0A%0D%0AMy%20experience%3A%20%3Cyour%20experience%20on%20the%20course%3E%0D%0A%0D%0AMy%20active%20mobile%20number%3A%20%3Cyour%20active%20mobile%20number%3E%0D%0A%0D%0AMy%20Other%20active%20mobile%20number%3A%20%3Cyour%20other%20active%20mobile%20numbers%3E%0D%0A%0D%0AMy%20Course%20Period%3A%3Cyour%20course%20period%3E" type="button" class="btn btn-outline-primary">More Info</a>
  </div>
</div>


