<!DOCTYPE html>
<html>
  <head>
    <title>Dzigsam Netout</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Vivaldi;
        text-align: center;
      }
      h2{
        font-family: Algerian;
      }
      .bodytext {
        font-family: Consolas;
        color: rgb(80, 80, 80)
      }
      #container {
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
      
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Dzigsam Netout</h1>
      <p>Hello there, Welcome to Dzigsam Netout.</p>
      <img id="Games" src = "https://3f85458a-d88d-42e5-99cd-63138c28a1a0-00-3swt6hvoko8b2.spock.replit.dev/static/games.png" height = "320"
      width="320">
      <h2>Dzigsam Games</h2>
      <img id="Youtube" src = "https://3f85458a-d88d-42e5-99cd-63138c28a1a0-00-3swt6hvoko8b2.spock.replit.dev/static/youtube.webp" height ="320"
      width="320">
      <h2>Dzigsam Youtube Videos</h2>
      <h1>Dzigsam Institute Of Technology</h1>
      <h1>About Dzigsam</h1>
      <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h2>List Of Cources</h2>
      <p class="bodytext">TODO - Show The Cources Here</p>
      <div style="text-align:center;">
      <button>Contact Us</button>
        <p>Copyright 2024, Dzigsam</p>
      </div>
    </div>
  </body>
</html>